@font-face {
    font-family:Montserrat-Bold; /* Имя шрифта */
    src: url(../fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family:Montserrat-Regular; /* Имя шрифта */
    src: url(../fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   